compiled
distrib
windows/.vs
windows/x64
windows/enc_temp_folder
windows/packages
windows/packages.config
racket/lib
racket/modules
third_party/racket/lib/x64
tangerine.pdb
tangerine.exe
tangerine.lib
tangerine.exp
imgui.ini
*.bak
*.stl
