compiled
distrib
windows/.vs
windows/x64
windows/enc_temp_folder
racket/lib
third_party/racket/include/generated.hpp
third_party/racket/lib/x64
tangerine.pdb
tangerine.exe
tangerine.lib
tangerine.exp
imgui.ini