compiled
distrib
windows/.vs
windows/x64
windows/enc_temp_folder
windows/packages
linux/build/
racket/lib
racket/modules
third_party/racket/lib/x64
WinPixEventRuntime.dll
tangerine.exe
imgui.ini
*.pdb
*.lib
*.exp
*.bak
*.stl
